button {
    display: block;
    margin: auto;
    width: 150px;
}

.settings {
    margin: 30px auto 30px;
}

#gameTable {
    margin:auto;
}

#gameTable tr {
    width: 20px;
}

#gameTable td {
    width: 60px;
    height: 60px;
    border: 2px #242424 solid;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.num {
    width: 60px;
    height: 60px;
    background: skyblue;
    border: 2px #242424 solid;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}